<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{{url_for('static', filename='asset/css/add-fc.css')}}" rel="stylesheet">

    {% if success %}
    <script>alert("Flashcard Created Successfully!");</script>
    {% endif %}
  </head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="/">KYDE EDU</a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="/">Deck</a></li>
        <li><a href="/quiz">Quiz</a></li>
        {% if student[-1] == "TEACHER" %}
          <li class="dropdown"><a href=""><span>Add new</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/adddeck">Add Decks</a></li>
              <li><a href="/addfc">Add Flashcards / Quiz Questions</a></li>

            </ul>
          </li>
          {% endif %}
        <!--<li class="dropdown"><a href="#"><span>Classes</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
          </ul>-->
        <li class="display">
          <a id="imagess" href="sign-up.html"><img src="{{url_for('static', filename='asset/images/images.png')}}"><p class="account text" style="font-size: 15px;">{{ student[1] }}</p></a>
          <ul>
            <li><a href="/signout">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

  <div class="sign-up">
    <h3>Add Flashcards</h3>
    <form id="form" method="post" action="/addfc">
        <div class="deck">
          <label for="deck_id">Deck: </label><br>
          <select id="deck_id" name="deck_id" style="width: 160px; height: 36px;">
            <!-- Dropdown values -->
            <!-- <option value="value1">value1</option> -->
            {% for deck in decks %}
            <option value="{{deck[0]}}">{{deck[1]}}</option>
            {% endfor %}

          </select><br>
        </div>

      <div class="beside-deck">
        <label for="points">Points: </label><br>
        <input type="number" id="points" name="points">
      </div><br>

      <label for="question">Question:</label><br>
      <textarea name="question" cols="45" rows="2" required></textarea>
      <label for="answer">Answer:</label><br>
      <textarea name="answer" cols="45" rows="3" required></textarea>

      <div class="sign-up-2">
        <input id="hello" type="submit" value="Add">
      </div>
    </form>
    <p><span id='display'></span></p>
  </div>



</body>
</html>
