<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{{url_for('static', filename='asset/css/add-fc.css')}}" rel="stylesheet">

    {% if success %}
    <script>alert("Flashcard Created Successfully!");</script>
    {% endif %}
  </head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="/">KYDE EDU</a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="/">Deck</a></li>
        <li><a href="/">Quiz</a></li>
        {% if student[-1] == "TEACHER" %}
          <li class="dropdown"><a href=""><span>Add new</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/adddeck">Add Decks</a></li>
              <li><a href="/addfc">Add Flashcards / Quiz Questions</a></li>

            </ul>
          </li>
          {% endif %}
        <!--<li class="dropdown"><a href="#"><span>Classes</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
          </ul>-->
        <li class="display">
          <a id="imagess" href="sign-up.html"><img src="{{url_for('static', filename='asset/images/images.png')}}"><p class="account text" style="font-size: 15px;">{{ student[1] }}</p></a>
          <ul>
            <li><a href="/signout">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

  <div class="sign-up">
    <h3>Edit Flashcard</h3>
    <form id="form" method="post" action="/editcard/{{ card[0] }}">
        

      <label for="question">Question:</label><br>
      <textarea name="question" cols="45" rows="2" required>{{ card[2] }}</textarea>
      <label for="answer">Answer:</label><br>
      <textarea name="answer" cols="45" rows="5" required>{{ card[3] }}</textarea>

      <div class="sign-up-2">
        <input id="hello" type="submit" name="method" value="EDIT">
      </div>
    </form>
    <p><span id='display'></span></p>
  </div>



</body>
</html>
